body {
    background-color: rgb(210, 138, 202);
    margin: 0;
}


.ball {
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #e00808;
    border-radius: 50%;
}

.name {
    color:rgb(102, 63, 11);
    font-weight: 600;
    font-style: italic;
}

input, button {
    font-size : 20px;
}



